.bloco {
    width: 200px;
    height: 100px;
    border: dashed red 2px;
    overflow: auto;
    display: inline-block;
    
}

#container {
    border: solid black 2px;
    width: 80%;
    margin: 0px auto;
}


.azul {
    background-color: rgb(0, 174, 255);
}

.vermelho {
    background-color: red;
}

.amarelo {
    background-color: yellow;
}

.verde {
    background-color: green;
}